* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
  /* justify-content: space-between; */
  flex-flow: row wrap;
  row-gap: 10px;

  max-width: 500px;
  /* min-height: 100px; */

  border: 1px solid black;
  border-radius: 10px;

  padding: 10px 20px;
}

.left-item,
.right-item {
  flex: 0.5;
}

.left-item {
  margin-left: auto;
}

.right-item {
  text-align: right;
}
