* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;

  border: 3px solid black;
  /* min-height: 50vh; */

  /* главная ось */
  /* направление */
  flex-direction: row;

  /* управление переносом */
  /* flex-wrap: wrap; */

  /* управление главной осью */
  /* justify-content: stretch; */

  /* управление вспом осью */
  /* align-items: flex-end; */

  /* управление отступов рядов */
  /* align-content: flex-end; */
}

.elem {
  display: flex;
  padding: 20px 40px;
  border: 2px solid rgb(100, 5, 100);
  background-color: tomato;
  align-items: center;
  text-align: center;
}

.elem:nth-child(1) {
  order: 4;
}

.elem:nth-child(2) {
  order: 3;
}

.elem:nth-child(3) {
  order: 2;
}

.elem span {
  background-color: yellow;
}

.new {
  background-color: royalblue;
}
